.site-card {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slds-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}